#banner {
  background: url('background1.jpg');
  background-size: cover;
  height: 800px;
  padding-top: 300px;
  h1 {
    font-size: 100px;
  }
}
#paris {
  background: url('bouledoguefr.jpg');
  background-size: cover;

}
#london {
  background: url('cavalier.jpg');
  background-size: cover;

}
#ny {
  background: url('chihuahua.jpg');
  background-size: cover;

}
#berlin {
  background: url('berger.jpg');
  background-size: cover;

}
.card {
  height: 300px;
  margin: 10px 10px 10px 10px;
  color: white;
}
#features h2 {
  padding-top: 2em;
}

.product-box {
  margin: 5%;
  padding: 5%;
  background-color: white;
  min-height: 200px;
  // height: 300px;
  // width: 300px;

}

.container-app {
  margin-top: 70px;
}