<!-- <h1>Pets#index</h1>
<p>Find me in app/views/pets/index.html.erb</p> -->
<div class="container">

  <% @pets.each do |pet| %>
    <h1>
      <%= pet.name %>
    </h1>
    <p>
      <%= pet.city %>
    </p>

  <% end %>
</div>

