<div class="container">
  <div class="row">
    <div class="text-center">
      <h2>Taking care of</h2>
      <% current_user.bookings.each do |booking| %>
        <div class="col-xs-12 col-sm-6">
          <div class="img-box">
            <%= image_tag booking.pet.picture.url(:medium) %>
            <div class="over-pic">
              <h2><%= booking.pet.name %></h2>
              <p><em><%= booking.pet.kind.capitalize %></em></p>
              <% if booking.accept %>
                <button type="button" class="btn btn-success">Accepted</button>
              <% else %>
                <button type="button" class="btn btn-danger">Waiting for answer <br> from <%= booking.pet.owner.name %></button>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>