<div id="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <p>
          <%= link_to "About us", "/about.html" %>
        </p>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div id="social" class="text-right">
          <ul class="list-inline">
            <li>
              <a href="#">
                <i class="fa fa-facebook-square"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-twitter-square"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-youtube-square"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>