<div class="marged">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="text-center">
          <h1>"In pet we trust"</h1>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi ipsam, modi ratione exercitationem tempora necessitatibus nobis dolore magnam id nisi ea, ex dignissimos laboriosam quam nostrum atque deserunt sequi. Vitae.
        </p>
      </div>
      <div class="col-xs-12">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi ipsam, modi ratione exercitationem tempora necessitatibus nobis dolore magnam id nisi ea, ex dignissimos laboriosam quam nostrum atque deserunt sequi. Vitae.
        </p>
      </div>
    </div>
  </div>
</div>