<div class="padded text-center" id="banner">
  <h1>Rock my pet !</h1>
</div>
<div id="features">
  <h2 class="text-center">Discover our pets</h2>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-5 col-md-offset-1">
        <div class="card text-center padded" id="paris">
          <h3>Paris</h3>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-5">
        <div class="card text-center padded" id="london">
          <h3>London</h3>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-5 col-md-offset-1">
        <div class="card text-center padded" id:"ny">
          <h3>New-York</h3>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-5">
        <div class="card text-center padded" id="berlin">
          <h3>Berlin</h3>
        </div>
      </div>
    </div>
  </div>
</div>
