// Your footer style
#footer {
  background: #6C7A89;
  padding: 10px;
  bottom: 0;
  width: 100%;
  position: relative;

  ul {
  margin-top: 10px;
  }
  a {
  color: white;
  transition: color 0.5s ease;
  font-family: $header-font;
  font-size: $base-size;
  }
  a:hover {
  color: #BC9051;
  }
}
#social a {
  font-size: 30px;
  letter-spacing: 20px;
}

.centered {
  margin-top: 20px;
}